// com-privacy

.tbody-icon {
  .#{$jicon-css-prefix}-download,
  .fas fa-download {
    color: var(--success);
    border-color: var(--success);
  }

  .#{$jicon-css-prefix}-mail {
    color: var(--primary);
    border-color: var(--primary);
  }

  .#{$jicon-css-prefix}-delete,
  .fa-times {
    color: var(--danger);
    border-color: var(--danger);
  }
}
