// Icons

.#{$jicon-css-prefix}-back::before {
  content: "\e008";
}

.#{$jicon-css-prefix}-crop::before {
  content: "\f125";
}

.#{$jicon-css-prefix}-white {
  color: $white;
}

.tbody-icon {
  padding: 0 3px;
  text-align: center;
  background-color: transparent;
  border: 0;

  [class^="#{$jicon-css-prefix}-"],
  [class*=" #{$jicon-css-prefix}-"],
  [class^="fa-"],
  [class*=" fa-"] {
    width: 26px;
    height: 26px;
    font-size: 1rem;
    line-height: 22px;
    color: $gray-400;
    border: 2px solid var(--border);
    border-radius: 50%;
  }

  .#{$jicon-css-prefix}-publish,
  .fa-check {
    color: var(--success);
    border-color: var(--success);
  }

  .#{$jicon-css-prefix}-color-featured,
  .fas.fa-star.featured {
    color: $state-warning-bg;
    border-color: $state-warning-bg;
  }

  .#{$jicon-css-prefix}-archive,
  .fa-folder {
    color: var(--atum-text-dark);
    border-color: $gray-700;
  }

  .#{$jicon-css-prefix}-checkedout,
  .fa-lock {
    width: auto;
    height: auto;
    font-size: 1.2rem;
    line-height: 1rem;
    color: var(--atum-text-dark);
    border: 0;
  }

  &.home-disabled,
  &.featured-disabled,
  &.color-featured-disabled,
  &.fa-star-disabled {
    cursor: not-allowed;
    opacity: 1;
  }

  &.disabled .#{$jicon-css-prefix}-home,
  &.disabled .fas.fa-home {
    color: $state-warning-bg;
    border-color: $state-warning-bg;
  }
}

.#{$jicon-css-prefix}-joomla::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f1aa";
}

.#{$jicon-css-prefix}-shield-alt::before {
  content: "\f3ed";
}

.#{$jicon-css-prefix}-address-book::before {
  content: "\f2b9";
}

.#{$jicon-css-prefix}-images::before {
  content: "\f302";
}

.info-circle::before {
  content: "\f05a";
}

.#{$jicon-css-prefix}-paint-brush::before {
  content: "\f1fc";
}

.#{$jicon-css-prefix}-language::before {
  content: "\f1ab";
}

.#{$jicon-css-prefix}-rss::before {
  content: "\f09e";
}

.#{$jicon-css-prefix}-map-signs::before {
  content: "\f277";
}

.#{$jicon-css-prefix}-envelope-open-text::before {
  content: "\f658";
}

.#{$jicon-css-prefix}-users-cog::before {
  content: "\f509";
}

.#{$jicon-css-prefix}-user-lock::before {
  content: "\f502";
}
